.edit_label {
  display: flex;
  margin-top: 10px;
  margin-bottom: 200px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* 600px 이하일 때는 column 방향으로 변경 */
@media (max-width: 600px) {
  .edit_label {
    flex-direction: column;
    align-items: center; 
  }

  .edit_container,
  .member_chatRoom {
    width: 100%;
    max-width: 500px;
  }
}

.edit_container {
  width: 600px;
  margin: 70px 10px;
  margin-bottom: 30px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h3 {
  text-align: center;
  margin: 30px 0;
  color: #333;
}

.form-group {
  margin-bottom: 30px;
}

.edit_group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 75%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:disabled {
  background: #f5f5f5;
  color: #aaa;
}

.distinctBtn {
  width: 80px;
  padding: 5px;
  background: rgb(21, 205, 222);
  color: white;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.distinctBtn:hover {
  transform: scale(1.01);
}

.save-btn {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: rgb(21, 205, 222);
  color: white;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn:hover {
  transform: scale(1.01);
}

.member_chatRoom {
  width: 600px;
  height: 560px;
  margin: 70px 10px;
  margin-bottom: 30px;  
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.member-chatrooms-list {
  list-style: none;
  padding: 0;
  max-height: 400px;         
  overflow-y: auto;          
  scrollbar-width: thin;    
}

.member-chatrooms-list::-webkit-scrollbar {
  width: 6px;
}

.member-chatrooms-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

.member-chatrooms-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #ccc;
}