/* 전체 레이아웃 */
.chatrooms-container {
  width: 90%;
  height: 900px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  background-color: white;
  border-radius: 20px;
  width: 80%;
  padding: 20px;
}
/* 제목 */
.chatrooms-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.chatrooms-input-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 10px;
  margin-bottom: 20px;
}

.room-list {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 10px;
  margin-bottom: 20px;
}

.chatrooms-input {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.chatrooms-button {
  padding: 10px 15px;
  background-color: rgb(21, 205, 222);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.chatrooms-button:hover {
  background-color: #0056b3;
}

/* 채팅방 목록 */
.chatrooms-list {
  list-style: none;
  padding: 0;
}

.chatroom-item {
  display: flex;
  padding: 12px;
  width: 380px;
  background: white;
  border: 1px solid rgb(228, 219, 219);
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.chatroom-item:hover {
  transform: scale(1.03);
}
